# This is Git's per-user configuration file.
[user]
	name = Marcus Johnson
	email = mejohnson93@gmail.com
[credential]
        helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
[pull]
	rebase = true

[alias]
  co = checkout
  ci = commit
  st = status
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[log]
  date = relative

[format]
  pretty = format:%h %Cblue%ad%Creset %ae %Cgreen%s%Creset
[pager]
	log = false
[init]
	defaultBranch = main
