set ignorecase
set scrolloff=5
set smartcase
set number
set relativenumber
set visualbell
" TODO more settings here?
"
" Enable any local modifications
if filereadable($HOME . '/.local_config/localidea.vim')
  source ~/.local_config/localidea.vim
endif

" TODO these are also in init.vim
inoremap jk <ESC>
"inoremap kj <ESC>

" make yy/cc and Y/C behave like dd and D line-wise.
" dd deletes entire line, D deletes from here to end.
noremap Y y$
noremap C c$

noremap <leader>p "+p
noremap <leader>y "+y
noremap <leader>Y "+Y

" TODO settings common to ideavimrc|vimrc|init.vim

" Commenting
noremap <leader>c<Space> :action CommentByLineComment<CR>

" IntelliJ actions
noremap <leader>t :action GotoTest<CR>

" Disable C-a which I accidentally hit too often.
map <C-a> <Nop>

" TODO Ideas:
" https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
" https://github.com/beloglazov/vimrc/blob/master/.ideavimrc
